<a href="https://colab.research.google.com/github/brendontj/tcc-lol-stats/blob/master/LOL_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import math
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [16]:
df = pd.read_csv('Result_1.csv')
print(df.shape)

(69300, 60)

#Utils functions

In [17]:
def get_dragon_names(arr):
  dragons = []
  for i in arr:
    if not pd.isna(i):
      for j in i[1:-1].split(','):
        if j not in dragons:
          dragons.append(j)
  return dragons

def number_of_dragons(arr):
  if arr == 0:
    return 0
  return len(arr[1:-1].split(','))

#Model to predict winner at 05 minutes of game

###Transform dragons data

In [14]:
df_1 = df.copy()

df_1['red_team_dragons'] = df_1['red_team_dragons'].fillna(0)
df_1['blue_team_dragons'] = df_1['blue_team_dragons'].fillna(0)

df_1['len_red_team_dragons'] = df_1['red_team_dragons'].apply(lambda x: number_of_dragons(x))
df_1['len_blue_team_dragons'] = df_1['blue_team_dragons'].apply(lambda x: number_of_dragons(x))

##Filter just MD1, because MD2,MD3 and MD5 are not labeled
### TODO - resolver possivel problema na extracao dos jogos md2/md3/md5

In [30]:
df_f = df_1.loc[df_1['best_of'] == 1]
df_f.head()

         #  ... len_blue_team_dragons
5110  5111  ...                     0
5111  5112  ...                     0
5112  5113  ...                     0
5113  5114  ...                     0
5114  5115  ...                     0

[5 rows x 62 columns]

In [46]:
games_ref_list = df_f['game_external_ref'].unique()
# print(len(games_ref_list))
for game_ref in games_ref_list:
    sub_df = df_f.loc[df_f['game_external_ref'] == game_ref]
    game_timestamp_list = sub_df['game_timestamp'].unique()
    micro_df = sub_df.loc[sub_df['game_timestamp'] == game_timestamp_list[1]]
    micro_df.sort_values(by=['participant_id'])
# df_f.drop(columns=['#', 'game_id', 'game_externalk'])