<a href="https://colab.research.google.com/github/brendontj/tcc-lol-stats/blob/master/LOL_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import math
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [66]:
df = pd.read_csv('Result_1.csv')
df.head()

         #  ...            region
1960  1961  ...  AMÃ‰RICA DO NORTE
1961  1962  ...  AMÃ‰RICA DO NORTE
1962  1963  ...  AMÃ‰RICA DO NORTE
1963  1964  ...  AMÃ‰RICA DO NORTE
1964  1965  ...  AMÃ‰RICA DO NORTE
...    ...  ...               ...
2025  2026  ...  AMÃ‰RICA DO NORTE
2026  2027  ...  AMÃ‰RICA DO NORTE
2027  2028  ...  AMÃ‰RICA DO NORTE
2028  2029  ...  AMÃ‰RICA DO NORTE
2029  2030  ...  AMÃ‰RICA DO NORTE

[70 rows x 60 columns]

#Utils functions

In [67]:
def get_dragon_names(arr):
  dragons = []
  for i in arr:
    if not pd.isna(i):
      for j in i[1:-1].split(','):
        if j not in dragons:
          dragons.append(j)
  return dragons

def number_of_dragons(arr):
  if arr == 0:
    return 0
  return len(arr[1:-1].split(','))

#Model to predict winner at 05 minutes of game

In [69]:
df_1 = df.copy()
df_1['red_team_dragons'] = df_1['red_team_dragons'].fillna(0)

df_1['blue_team_dragons'] = df_1['blue_team_dragons'].fillna(0)

df_1['len_red_team_dragons'] = df_1['red_team_dragons'].apply(lambda x: number_of_dragons(x))
df_1['Len_blue_team_dragons'] = df_1['blue_team_dragons'].apply(lambda x: number_of_dragons(x))

df_1.head(2000)

         #  ... Len_blue_team_dragons
0        1  ...                     0
1        2  ...                     0
2        3  ...                     0
3        4  ...                     0
4        5  ...                     0
...    ...  ...                   ...
1995  1996  ...                     1
1996  1997  ...                     1
1997  1998  ...                     1
1998  1999  ...                     1
1999  2000  ...                     1

[2000 rows x 62 columns]

{'cloud': 1, 'elder': 2, 'infernal': 3, 'mountain': 4, 'ocean': 5}